body {
  background-color: black;
  overflow-y: hidden;
}

.clickable-button {
  color: white;
}

.clickable-button:hover {
  cursor: pointer;
  color: rgb(180, 180, 180);
}

#logo {
  z-index: 1;
  position: fixed;
  top: 2%;
  left: 2%;
  color: white;
  font-family: monospace;
}

#now-playing-text {
  font-size: 130%;
}

#video-player {
  z-index: -1;

  height: 100%;
  width: 100%;
  object-fit: fill;
  float: left;
  top: 0;
  left: 0;
  padding: none;
  position: fixed;

  opacity: 20%;
}

#main-grid {
  z-index: 1;
  position: fixed;
  left: 2%;
  bottom: 2%;
  width: 100%;

  color: white;
}

#play-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scale(0.4);
}
