#background-video {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: fill;
    float: left;
    top: 0;
    left: 0;
    padding: none;
    position: fixed;
}

#radio-controls {
    z-index: 1;
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: 100%;
    color: white;
}

#logo {
    z-index: 1;
    position: fixed;
    top: 2%;
    left: 2%;
    color: white;
    font-family: monospace;
}

body {
    background-color: black;
    overflow-y: hidden;
}