body {
  background-color: black;
  overflow-y: hidden;
}

#logo {
  z-index: 1;
  position: fixed;
  top: 2%;
  left: 2%;
  color: white;
  font-family: monospace;
}

#video-player {
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: fill;
  float: left;
  top: 0;
  left: 0;
  padding: none;
  position: fixed;
}

#main-grid {
  z-index: 1;
  position: fixed;
  left: 2%;
  bottom: 2%;
  width: 100%;
  color: white;
}
